#addrPage {
    display: inline;
}

#categoriesPage {
    display: none;
}

#restaurantsPage {
    display: none;
}

#menuPage {
    display: none;
}

#cartPage {
    display: none;
}

#editItemPage {
    display: none;
}