#addrPage {
    display: inline;
}

html,body { 
  height: 100%;
}

/* yunji edit below*/
header {
    background-color: #f99201;
    padding: 30px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    color: white;
  }
 
instruction{
    text-align: center;
  }

  body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px black;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 1px black;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #f99201;
  }  
/* yunji edit above */

#categoriesPage {
  display: none;
  width: 100%;
}

#restaurantsPage {
  display: none;
}

#menuPage {
  display: none;
}

#cartPage {
  display: none;
}

#editItemPage {
  display: none;
}

.prefRow {
  /* margin: 0 -5px; */
  margin: 0, 0;
}

.prefRow:after {
  content: "";
  display: table;
  clear: both;
}

.prefCol {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.prefCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  margin: 16px;
  text-align: center;

  background-color: #2E9CCA;
  height: 100px;
  font-size: 30px;
}

.prefHeader {
  background-color: #f99201;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
}

.prefContent {
  background-color: #4b4b4b;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.prefContent input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px rgb(0, 0, 0);    
  float: inline-start;
  width: 20%;
  background: #dfdfdf;
  text-align: center;
  display: grid;
  margin: auto;
}

#prefBack {
  float: left;
}


/* Resuturant Styles*/
.btn-group resturantList {
  background-color: #f99201; /* Green background */
  border: 1px solid #f99201; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ffc400;
}
